#about {
	padding-top: 50px;
	padding-bottom: 40px;
	color: #555;
	background-color: lightgoldenrodyellow;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 50px;
}
#about .btn {
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content {
	padding-top: 20px;
}
#about content {
	text-align: right;
}
#slider {
	width: 100%;
}
#title{
	text-align: center;
}
#team {
	padding-top: 50px;
	padding-bottom: 50px;
	color: black;
}
h1 {
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
        font-family: Times New Roman;
	background-color: lightgoldenrodyellow;
	font-style: italic;
}
#clients {
	padding-top: 50px;
	padding-bottom: 50px;
	color: black;
}	
#sevices {
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#cont{
	font-size: 25px;
	font-family: URW Gothic L;
}
html {
	scroll-behavior: smooth;
}

@media(min-width: 992px){
#cont{
	font-size: 20px;
}
#team{
	font-size: 20px;
}
}

@media(min-width: 768px) and (max-width: 991px){
#cont{
	font-size: 20px;
}
#team{
	font-size: 20px;
}
}

@media(min-width: 575px) and (max-width: 767px){
#cont{
	font-size: 18px;
}
#team{
	font-size: 18px;
}
}

@media(min-width: 480px) and (max-width: 574px){
#cont{
	font-size: 16px;
}
#team{
	font-size: 16px;
}
}

@media(min-width: 320px) and (max-width: 479px){
#cont{
	font-size: 16px;
}
#team{
	font-size: 16px;
}
}

@media(max-width: 319px){
#cont{
	font-size: 15px;
}
#team{
	font-size: 16px;
}
}

