h3{
	font-family: Garamond;
}
h1{
	font-family:"Times New Roman";
}
h2{
	font-family: sans-serif;
	font-style: normal;
	font-size: 50px;
}

.container{
	max-width: 1200px;
	margin: auto;
	
}
.gallery{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 280px;
	display: block;
	border-radius: 8px;
}
.gallery img{
	width: 280px;
	height: 200px;
	border-radius: 8px;
}
.desc{
	padding: 15px;
	text-align: center;

}
.container .gallery .box{
	overflow: hidden;
}
.container .gallery .box img{
	transition: transform 1s;
	animation-play-state: slide-out-up;
}
.container .gallery:hover .box img{
	transform: scale(1.2);
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 90px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.6);
	border-bottom: 1px solid #fff;
	
}
nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li a{
	line-height: 80px;
	color: #fff;
	padding: 12px 30px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase
}
nav ul li a:hover{
	background: rgba(0,0,0,0.7);
	border-radius: 6px;
}
