#names{
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 70px;
	text-align:center;
	text-shadow: 2px 2px orangered;
	color: orange;
}
p{
  font-family: Times New Roman;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}
#slogan{
	text-align: center;
	font-family: Times New Roman;
	font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
}
.prev{
	padding-bottom: 15px;
	padding-left: 60px;
}
.caro{
	width: 600px;
	left: -9999px;
	right: -9999px;
	margin:  0 auto;
}
html{
       scroll-behavior: smooth;
}
