#i1{
	float:left;
	padding-top: 10px;
	font-size: 30px;
	font-family: cursive;
}
* {
  box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
#para{
	font-family: URW Gothic L;
	text-align: center;
	font-size: 30px;
}
.heading {
  font-size: 25px;
  margin-right: 25px;
}
.rating {
  font-size: 35px;
}
marquee{
	font-size: 50px;
	font-weight: 200;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}
h3{
	font-family: Garamond;
}
h1{
	font-family:"Times New Roman";
	margin: 30px 0 20px 0;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 2px 1px 5px whitesmokei;
}
h2{
	font-family: sans-serif;
	font-style: normal;
	font-size: 50px;
}
.card-body .card-text{
	text-decoration: none;
}
.card-text{
text-decoration: none;
}
.card img{
	width: 15rem;
	height: 200px;
}
.container .card {
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .card img{
	transition: transform 1s;
	animation-play-state: slide-out-up;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .card:hover .box img{
	transform: scale(1.2);
}
.container .card:hover img{
transform: scale(1.2);
}
.checked {
  color: orange;
}
#name{
	height: 25px;
}
#email{
	height: 25px;
}
#sub{
	height: 25px;
}
#msg{
	height: 25px;
}
.thumb-content ,.text{
	font-size: 20px;
	font-family: Times New Roman;
}
nav .topnav .icon {
  display: none;
}
nav{
	width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo1{
	width: 25%;
  text-align: center;
}
nav .logo1 h5{
	font-size: 25px;
}
nav .topnav{
	width: 40%;
	display: flex;
	justify-content: space-around;
}
nav .topnav a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 17px;
}
main{
	width: 100%;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}
.social-list {
  display: inline-flex
}
.social-list li {
  list-style: none;
  margin-right: 10px
}
.maincard {
  position: relative;
  width: 70px;
  height: 40px
}
.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
}
.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 4px
}
.social-text small {
  font-size: 13px
}
@media(min-width: 992px) {
	#para{
		font-size: 25px;
	}
	.heading {
  	font-size: 24px;
  	margin-right: 24px;
	}
	.rating {
  	font-size: 33px;
	}
	.thumb-content ,.text{
		font-size: 18px;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	#para{
		font-size: 25px;
	}
	.heading {
  	font-size: 22px;
  	margin-right: 22px;
	}
	.rating {
  	font-size: 30px;
	}
	.thumb-content ,.text{
		font-size: 17px;
	}
}

@media (min-width: 575px) and (max-width: 767px){
	#para{
		font-size: 23px;
	}
	.heading {
  	font-size: 21px;
  	margin-right: 21px;
	}
	.rating {
  	font-size: 27px;
	}
	.thumb-content ,.text{
		font-size: 17px;
	}
}

@media(min-width: 480px) and (max-width: 574px) {
	#para{
		font-size: 21px;
	}
	.heading {
  	font-size: 19px;
  	margin-right: 19px;
	}
	.rating {
  	font-size: 25px;
	}
	.thumb-content ,.text{
		font-size: 17px;
	}
	.topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
	.topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media(min-width: 320px) and (max-width: 479px) {
	#para{
		font-size: 21px;
	}
	.heading {
  	font-size: 19px;
  	margin-right: 19px;
	}
	.rating {
  	font-size: 25px;
	}
	.thumb-content ,.text{
		font-size: 17px;
	}
	.topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
	.topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media(max-width: 319px){
	#para{
		font-size: 20px;
	}
	.heading {
  	font-size: 19px;
  	margin-right: 19px;
	}
	.rating {
  	font-size: 25px;
	}
	.thumb-content ,.text{
		font-size: 17px;
	}
	.topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
	.topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (max-width:700px) {
    .social-list {
      display: block
    }
}