#names{
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 70px;
	text-align:center;
	text-shadow: 2px 2px orangered;
	color: orange;
}
#info{
  font-family: Times New Roman;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}
#slogan{
	text-align: center;
	font-family: Times New Roman;
	font-weight: bold;
  font-size: 35px;
  margin-top: 20px;
}

@media(min-width: 992px){
#names{
  font-size: 66px;
}
#info{
  font-size: 25px;
}
#slogan{
  font-size: 35px;
}
}

@media(min-width: 768px) and (max-width: 991px){
#names{
  font-size: 63px;
}
#info{
  font-size: 23px;
}
#slogan{
  font-size: 32px;
}
}

@media(min-width: 575px) and (max-width: 767px){
#names{
  font-size: 58px;
}
#info{
  font-size: 20px;
}
#slogan{
  font-size: 30px;
}
}

@media(min-width: 480px) and (max-width: 574px){
#names{
  font-size: 54px;
}
#info{
  font-size: 20px;
}
#slogan{
  font-size: 28px;
}
}

@media(min-width: 320px) and (max-width: 479px){
#names{
  font-size: 50px;
}
#info{
  font-size: 17px;
}
#slogan{
  font-size: 27px;
}
}

@media(max-width: 319px){
#names{
  font-size: 47px;
}
#info{
  font-size: 26px;
}
#slogan{
  font-size: 23px;
}
}