#state{
  font-weight: bold;
  font-family:Times New Roman ;
  font-size: 45px;
  text-shadow: 2px 1px lightblue;
  text-align: center;
}
#tag{
  font-size: 25px;
  color: darkblue;
  text-decoration: underline;
  text-align: center;
}
p{
  font-family: Arial;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

@media(min-width: 992px){
#state{
  font-size: 40px;
}
#tag{
  font-size: 23px;
}
p{
  font-size: 18px;
}
}

@media(min-width: 768px) and (max-width: 991px){
#state{
  font-size: 38px;
}
#tag{
  font-size: 21px;
}
p{
  font-size: 17px;
}
}

@media(min-width: 575px) and (max-width: 767px){
#state{
  font-size: 36px;
}
#tag{
  font-size: 20px;
}
p{
  font-size: 16px;
}
}

@media(min-width: 480px) and (max-width: 574px){
#state{
  font-size: 36px;
}
#tag{
  font-size: 20px;
}
p{
  font-size: 16px;
}
}

@media(min-width: 320px) and (max-width: 479px){
#state{
  font-size: 34px;
}
#tag{
  font-size: 18px;
}
p{
  font-size: 15px;
}
}

@media(max-width: 319px){
#state{
  font-size: 33px;
}
#tag{
  font-size: 17px;
}
p{
  font-size: 15px;
}
}


