h3{
	padding-bottom: 170px;
	font-family: Times New Roman;
	font-weight: bold;
	font-size: 70px;
}
p{
font-family: Times New Roman;
font-size: 20px;
font-style: italic;
font-weight: bold;
}
h2{

	text-align: center;
	font-family: Times New Roman;
	font-weight: bold;
}
.prev{
	padding-bottom: 15px;
	padding-left: 60px;
}
.caro{
	width: 700px;
	left: -9999px;
	right: -9999px;
	margin:  0 auto;
}
